{% extends 'base.html' %}

{% block content %}

    <form action="login" method="POST">
        {% csrf_token %}
        <h2>login</h2>
        <label for="username">User Name</label>
        <input type="text" name="username" required />
        <div class="email error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>
        <button>login</button>
        <h6>Didn't have an account!<a href='/signup' style="color:blue">Signup...</a></h6>
        {% for message in messages %}
            <div class="email error">{{message}}</div>
        {% endfor %}
    </form>
{% endblock %}